{% extends "layouts/base.html" %}
{% load static %}
{% block title %} My First Index HTML Page {% endblock title %}
{% block content %}
<div align="center">
    <h1>About us</h1>
    <p>This is a paragraph text This is a paragraph text This is a paragraph text
        This is a paragraph text </p>

    <p>To write to <a href="mailto:email@domain.com">our store</a>, click the link
        and your default email client will open an email message and address it to us. </p>
</div>
{% endblock content %}