{% extends "layouts/base.html" %}
{% load static %}
{% block title %} My First Index HTML Page {% endblock title %}
{% block content %}
<h1>HTML5 Links</h1>
<div class="link">
    <div class="link1">
        <a id="Link1" href="https://myqu.qu.edu.sa/_IAM/login" target="_blank">QU Website New Page</a>
    </div>
    <div class="link2">
        <a id="Link2" href="https://myqu.qu.edu.sa/_IAM/login">QU Website Same Page</a>
    </div>
    <div class="link3">
        <a id="Link3" href="https://myqu.qu.edu.sa/_IAM/login">QU Website Same Page</a>
    </div>
</div>
{% endblock content %}