{% extends "layouts/base.html" %}
{% load static %}
{% block title %} My First Index HTML Page {% endblock title %}
{% block content %}

<a href="/HTML/Books.html">Go Back</a>
<div align="center">
    <h1>Details of Book1</h1>
    <h2>Internet & World Wide Web How to Program</h2>
    <h2>Author: author name</h2>
    <p><strong> Internet & World Wide Web How to Program, 5/e </strong> provides a
        clear, simple, engaging and entertaining introduction to Internet and web
        programming. It’s appropriate for both introductory and intermediate-level client
        side and server-side programming courses.</p>
    <img src="book1.jpg" alt="Book1 img desc" width="200" height="200">
</div>
{% endblock content %}